.castList {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.castLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  max-width: 154px;
  max-height: 400px;
  cursor: pointer;
  overflow: hidden;
}
