.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px 20px 20px;
  gap: 50px;
  align-items: baseline;
  font-size: 18px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.headerTitle {
  font-size: 18px;
  color: green;
}
.headerNav {
  display: flex;
  gap: 30px;
  font-weight: 500;
}
.NavLink {
  color: #212121;
}
